<!DOCTYPE html>
<html lang="en">
 <title> "Data Collection App" </title>
<head>

 <link href="/static/styles.css" rel="stylesheet" type="text/css" />
<body>
 <div class="container">
  <h1> Collecting height </h1>
<h3> Please fill the entries to get population statistics on height </h3>
<div class="form">
<form action="/" method="POST">
<input title="Your email address will be safe with us ." placeholder="Enter your email address" type="email"
name="email_name" required> <br>
<input title ="Your email address will be safe with us." placeholder="Enter your height in cm" type="text"
       name="height_name" required><br>
 <button class="go-button" type="submit">Submit</button>

</form>
 </div>
</div>
</body>
</html>

